html{
	scroll-behavior: smooth;
}
body {
  font-size: 16px;
  word-break: keep-all;
  font-family: 'Montserrat','Noto Sans KR', sans-serif;
  background-color: white;
}
/* Header */
header {
  background-color: black;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 9;
}
header .inner {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .inner h1 {
  flex-grow: 1;
  font-size: 30px;
  opacity: .8;
}
header .inner a{
  text-decoration: none;
  color: white;
  
}
header ul.menu{
  height: 70px;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.menu li a{
  padding: 0 10px;
  font-size: 20px;
  display: block;
  align-items: center;
  color: white;
  opacity: .8;
  text-decoration: none;
  
}
header ul.menu li a:hover{
  opacity: 1;
  transition: .5s;
}

/* PROFILE */
.profile {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.profile .inner {
  max-width: 1020px;
  margin: 100px auto;
  display: flex;
  align-items: center;
}
.profile .comment .korean-comment {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 80px;
  color: white;
  line-height: 1.5;
}
.profile img.front-img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.profile .comment .english-comment {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  color: white;
  line-height: 1.5;
}

/* INFO */
.info-inner {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 200px;
  font-size: 50px;
  font-weight: 500;
}
.info {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  opacity: 0;
  transition: 2s;
  transform: translate(0px, 150px);

}
.info.show{
  opacity: 1;
  transform: translate(0px, 0px);
}
.info .inner {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info img.me-img{
  width: 400px;
  height: 500px;
  border-radius: 20px;
  margin: 100px 0;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.info .info-comment {
  margin-left: 100px;
}
.info .info-comment p {
  line-height: 1.5;
}
.info .info-comment h3 {
  font-size: 30px;
  margin: 30px 0;
}
.info .info-comment ul li {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
}

/* PROJECTS */

.projects-inner {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 200px;
  font-size: 50px;
  font-weight: 500;
}
.projects {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 200px auto;
}
.projects .inner {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .article-info {
  margin-right: 85px;
}
.article-name{
  font-size: 30px;
  margin: 20px 0px;
}
.article-comment{
  font-size: 16px;
  font-weight: 100;
  margin: 20px 0px;
  line-height: 1.5;
}
.projects .article-info2 {
  margin-left: 85px;
}


.projects img.thumbnail {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.projects img.thumbnail:hover {
  transition: .5s;
  transform: scale(1.2);
}
.more {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  padding: 0px;
  text-decoration: none;
}
.more:hover {
  color: grey;
  transition: .3s;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  margin: 400px 0 0 0;
  background-color: black;
}
.footer .inner {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
}
.number ,
.email {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  color: white;
}
.contact {
  font-weight: 700;
  font-size: 40px;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}
.links > a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color:white;
  margin: 0 10px;
}
.links > a:hover {
  color: grey;
  transition: .3s;
}
.footer .copyright {
  color: white;
  margin: 20px auto;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}